;;
==
{##}
{% set categories = productCategories.categories %}
{% set currentCategorySlug = productCategories.currentCategorySlug %}

<div class="row">
	{% for category in categories %}
	<dl class="col-sm-4">
		<dt class="border-bottom border-danger mb-2" style="border-bottom-style:dashed !important;">
			<a href="{{ category.url }}" >
	        	{{ category.name }}
	        </a>
		</dt>
		{% set children=category.children %}
		{% for child in children %}
		{% set postCount = child.post_count %}
		<dd>
			<a href="{{ child.url }}" >
				{{child.name}}
				{% if postCount %}
	                <span class="badge">{{ postCount }}</span>
	            {% endif %}
			</a>
		</dd>
		{% endfor %}		
	</dl>
	{% endfor %}
</div>