;;
==
{##}
{% set categories = productCategories.categories %}
{% set currentCategorySlug = productCategories.currentCategorySlug %}

<div class="row">
	{% for category in categories %}
	<dl class="col-sm-4">
		<dt class="border-bottom border-danger mb-2" style="border-bottom-style:dashed !important;">
			<a href="{{ category.url }}" >
	        	{{ category.name }}
	        </a>
		</dt>
		{% set children=category.children %}
		{% for child in children %}
		{% set postCount = child.post_count %}
		<dd>
			<a href="{{ child.url }}" >
				{{child.name}}
				{% if postCount %}
	                <span class="badge">{{ postCount }}</span>
	            {% endif %}
			</a>
		</dd>
		
		{% set children2=child.children %}
		{% for child2 in children2 %}
		{% set postCount2 = child2.post_count %}
			<dd>
			&nbsp;&nbsp;<a href="{{ child2.url }}" >
				{{child2.name}}
				{% if postCount2 %}
	                <span class="badge">{{ postCount2 }}</span>
	            {% endif %}
			</a>
		</dd>
		{% endfor %}
		
		{% endfor %}		
	</dl>
	{% endfor %}
</div>