description = "Recommended item Settings"
==
{% set products = productPosts.posts %}
<section class="section position">
	<div class="container">
		<h5 class="position title">THE LATEST PRODUCT</h5>
		<div class="row ">
		{% for post in posts %}
		<div class="col-lg-2 col-md-6">
			<div class="position-relative mb-4">
				<a href="{{ post.url }}">
					{% if post.featured_images.count > 0 %}
					<img src="{{ post.featured_images.first.getThumb(110, 110,'crop') }}" alt="" class="img-fluid w-100 border">
					{% else %}
					<img src="https://placehold.it/110x110" alt="" class="img-fluid w-100">
					{% endif %}
					<div class="portfolio-item-content mt-2" style="font-size: smaller">
						<span>{{post.title}}</span>
						<span><em>{{post.number}}</em></span>
						<!--
						<h6 class="mb-0 text-body">{{post.title}}</h6>
						<p class="text-body-50"><em>{{post.number}}</em></p>
						-->
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>
</section>