description = "Product Posts Overview"

[viewBag]
==
{% set products = productPosts.posts %}
<div class="row portfolio-gallery">
{% for post in posts %}
    <div class="col-lg-4 col-md-6">
		<div class="position-relative mb-4">
		<a href="{{ post.url }}">
			{% if post.featured_images.count > 0 %}
            <img src="{{ post.featured_images.first.getThumb(500, 389) }}" alt="" class="img-fluid w-100">
            {% else %}
            <img src="https://placehold.it/500x389" alt="" class="img-fluid w-100">
            {% endif %}
			<div class="portfolio-item-content">
				<h3 class="mb-0 text-body">{{post.title}}</h3>
				<p class="text-body-50">{{post.number}}</p>
			</div>
		</a>
		</div>
	</div>
{% endfor %}
</div>

{% if posts.lastPage > 1 %}    
<div class="row justify-content-center mt-5">
    <div class="col-lg-6 text-center">
        <nav class="navigation pagination d-inline-block">
            <div class="nav-links">
                {% if posts.currentPage > 1 %}
                <a class="prev page-numbers" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">Prev</a>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                <a class="page-numbers" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                {% endfor %}

                {% if posts.lastPage > posts.currentPage %}
                <a class="next page-numbers" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>
{% endif %}