;;
==
{##}
<div class="col-lg-12 mb-5">

	<div class="single-blog-item">
	             
        <div class="blog-item-content bg-white p-5">
        	<h5>{{ post.title}}</h5>        	
            <div class="blog-item-meta bg-gray py-1 px-2 mb-3">            	
                {% for category in post.categories %}
                <span class="text-muted text-capitalize mr-3">
                    <a href="{{ category.url }}">{{ category.name }}</a>
                </span>
                {% endfor %}
                <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> {{ post.published_at|date('M d, Y') }}</span>
            </div> 
            <div class="content">
            <img src="{{ post.featured_images.first.getThumb(500, 389) }}" alt="" class="img-fluid w-100">
            {{ post.content_html|raw }}
            </div>
        </div>
        
        <div class="row portfolio-gallery">
        {% if post.featured_images.count %}
        	{% for image in post.featured_images %}
			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{{ image.path }}" class="popup-gallery">
						<img src="{{ image.path }}" alt="" class="img-fluid w-100" data-src="{{ image.filename }}" alt="{{ image.description }}">
						<i class="ti-plus overlay-item"></i>
					</a>
				</div>
			</div>
			{% endfor %}
		{% endif %}	
		</div> 
		 
		<div class="blog-item-content bg-white">
		<nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
		    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Part Numbers</a>
		    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Technical Specifications</a>
		    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Case Studies</a>
		    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Just Ask</a>
		  </div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade show active pt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Code</th>
			      <th scope="col">Image</th>
			      <th scope="col">Product Name</th>
			      <th scope="col">Stock Level</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">KIT20</th>
			      <td>
			      <img src="https://d347awuzx0kdse.cloudfront.net/barriergroup/images/resized/14eb579a37ee90df4f2676410b872658ca8b8c24.jpg" alt="..." class="img-thumbnail" style="width:70px !important;"></td>
			      <td>Fixing Kit for Zephyr - In Ground</td>
			      <td>@mdo</td>
			    </tr>
			    <tr>
			      <th scope="row">BZ-POL</th>
			      <td><img src="https://d347awuzx0kdse.cloudfront.net/barriergroup/images/resized/c0d968705ffe20585aee1b70b616f164030dfe82.jpg" alt="..." class="img-thumbnail" style="width:70px !important;"></td>
			      <td>Zephyr Body - Polished Alloy Finish</td>
			      <td>@fat</td>
			    </tr>
			    <tr>
			      <th scope="row">BZ-TPP</th>
			      <td><img src="https://d347awuzx0kdse.cloudfront.net/barriergroup/images/resized/c54681a332a7c382a9cc70de91bda07d66ea3aa6.jpg" alt="..." class="img-thumbnail" style="width:70px !important;"></td>
			      <td>Zephyr Body - Stainless Look Powder Coat</td>
			      <td>@twitter</td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		  <div class="tab-pane fade pt-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<table class="table table-hover">
			  <tbody>
			    <tr>
			      <td>Description:	Bike Storage Bollard.</td>
			    </tr>
			    <tr>
			      <td>Material:	Cast AA601 grade aluminium from Tasmania.</td>
			    </tr>
			    <tr>
			      <td>Size:	845mm high x 224mm wide x 394mm deep.</td>
			    </tr>
			    <tr>
			      <td>Weight:	18kgs body only (not including mounting).</td>
			    </tr>
			    <tr>
			      <td>Finishes:	High polish alloy finish.
Stainless steel look thermoplastic powder coat.
Custom colour powder coat.</td>
			    </tr>
			    <tr>
			      <td>Fixing:	Choice of 4 mounting kits (sold separately).</td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		  <div class="tab-pane fade pt-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
		  	- Kardinia Park Trust
		  </div>
		  <div class="tab-pane fade pt-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
		   Sorry, there are no Just Ask Questions for this product. Would you like to ask one?
		   </div>
		</div>
		</div>
        
    </div>
</div>