;;
==
{##}
<div class="col-lg-12 pt-2">           
   	<h5 class="border-bottom pb-2">{{ post.title}}</h5>        	
    <div class="content">
	<div class="text-center">
	  <img src="{{ post.featured_images.first.getThumb(560, 560) }}" alt="img-fluid w-100">
	</div>
		{{ post.content_html|raw }}
    </div>   
     <div class="row portfolio-gallery">
     {% if post.featured_images.count %}
     {% for image in post.featured_images %}
		<div class="col-lg-4 col-md-6">
			<div class="portflio-item position-relative mb-4">
				<a href="{{ image.path }}" class="popup-gallery">
					<img src="{{ image.path }}" alt="" class="img-fluid w-100" data-src="{{ image.filename }}" alt="{{ image.description }}">
					<i class="ti-plus overlay-item"></i>
				</a>
			</div>
		</div>
	{% endfor %}
	{% endif %}	
	</div>
</div>