description = "Header with TopBar and Navigation"

[viewBag]

[productCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "products/category"
==
{##}
{# Header Start #}
{% set categories = productCategories.categories %}
<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-4 col-md-2">
					<a class="navbar-brand ml-3" href="{{ 'home'|page }}">
				  	Mega<span>kit.</span>
				  	</a>
			  	</div>
				<div class="col-lg-3 col-md-4">
					<div class="header-top-socials text-left text-lg-left text-md-left">
						<a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook"></i></a>
						<a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter"></i></a>
						<a href="https://github.com/themefisher/" target="_blank"><i class="ti-github"></i></a>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 text-center text-lg-right text-md-right">
					<div class="header-top-info">
						<a href="tel:+23-345-67890">Call Us : <span>+23-345-67890</span></a>
						<a href="mailto:support@gmail.com" ><i class="fa fa-envelope mr-2"></i><span>support@test.com</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg  py-4" id="navbar">
		<div class="container">
		  <div class="collapse navbar-collapse text-left pl-n2" id="navbarsExample09">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="{{ 'home'|page }}">Home <span class="sr-only">(current)</span></a>
			  </li>			  
			  <li class="nav-item dropdown">
			  	<a class="nav-link dropdown-toggle" id="products" href="{{ 'products'|page }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
			  	<div class="dropdown-menu" aria-labelledby="products" style="min-width: 750px; max-width: 750px;">
			  	<dl class="row mb-n2">
			  		{% for category in categories %}
		                <dd class="col-sm-4 {% if loop.index%3 != 0%} border-right {% endif %}">
			  				<a class="dropdown-item" href="{{ category.url }}">{{ category.name }}</a>
			  			</dd>
			  		{% endfor %}
				</dl>
			  	</div>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
				<ul class="dropdown-menu" aria-labelledby="dropdown03">
					<li><a class="dropdown-item" href="{{ 'about'|page }}">Our company</a></li>
					<li><a class="dropdown-item" href="{{ 'pricing'|page }}">Pricing</a></li>
				</ul>
			  </li>
			  <li class="nav-item"><a class="nav-link" href="{{ 'services'|page }}">Services</a></li>
			  <li class="nav-item"><a class="nav-link" href="{{ 'blog'|page }}">Blog</a></li>
			  <li class="nav-item"><a class="nav-link" href="{{ 'contact-us'|page }}">Contact</a></li>
			</ul>

			<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
			  <a href="{{ 'contact-us'|page }}" class="btn btn-solid-border btn-round-full">Get a Quote</a>
			</form>
		  </div>
		</div>
	</nav>
</header>
{# Header Close #}