;;
description = "Intro Partial"
==
{##}
{# Section Intro Start #}
<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<h5>WELCOME TO SELEAD </h5>
				<div class="card bg-light smaller" style="height: 150pt">
					<div class="col-lg-5">
						<span class="small">Shanghai Selead Safety Technology Co., Ltd is a progressive and innovative Chinese company that designs, develops and manufactures a wide range of high quality safety products for warehouse safety, floor safety, road safety, cargo safety, parking safety and PPE.

Your OEM and ODM are welcome! Strict Quality Control & Timely Delivery.</span>
					</div>
					<div class="col-lg-7">
						<img src="{{ 'assets/images/logo.png'|theme }}">
					</div>

				</div>
			</div>
			<div class="col-lg-4">
				<h5>WELCOME TO SELEAD </h5>
				<div class="card" style="height: 150pt">
					<span class="border-0">We work with business & provide solution to client with their business problem </span>
				</div>
			</div>
		</div>
	</div>
</section>
{# Section Intro End #}